* {
    margin: 0;
    padding: 0;
}

/* body width */
body {
    max-width: 1922px;
}

/* Font family */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* header related styles */
.header-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-column {
    margin: 50px 100px 0px 100px;
}


.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.header-button {
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

/* banner related styles */
.banner-info {
    text-align: center;
    margin-top: 178px;
}

.banner-info-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 28px;
}

.banner-info-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* flower info related styles */

.flower-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
    padding: 0px 240px;
}

.flower-info {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}
.flower-info-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}
.flower-info-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    align-items: center;
}

.flower-id {
    padding: 67px 75px 0px 75px;
}


.flower-img {
    padding: 110px 78px 0 76px;
}

.flower-info-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* flower des related styles */

.flower-des-title {
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.flower-des-container {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    padding: 0px 240px;

}

/* services related styles */
.services-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    display: flex;
    justify-content: space-around;
    height: 320px;
    margin: 128px 240px;
}

.service-types {
    text-align: center;
    margin-top: 86px;
}

.service-description {
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
}

/* offer related styles */

.offer {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 215px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 395px;
}

.offer-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 230px;
}

.off {
    color: #E55473;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.sign-up {
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    margin-top: 32px;
    margin-bottom: 162px;
}

.offer-img {
    margin: 100px 429px 130px 0px;
}

/* insta related styles */
.insta {
    text-align: center;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

/* sample images related styles */
.sample-images {
    display: flex;
    justify-content: space-around;
    margin: 48px 240px 128px;
    align-items: center;
}

/* Subscription related styles */
.subscription {
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    width: 1440px;
    height: 449px;
    margin: 0px 230px 128px;
}

.title-description {
    text-align: center;
    padding: 100px 100px 0px 100px;
}

.sub-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
}

.sub-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
}

.input-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 48px;
}

input {
    border-radius: 8px;
    background: #FFF;
    flex-shrink: 0;
    border: none;
    padding: 23px 560px 22px 22px;
}

.subcribe {
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 31px;
}

/* footer related styles */
footer {
    background: #111010;
    text-align: center;
    padding: 128px 648px;
}

.footer-title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-shop {
    color: #FFFFFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

/* cart related styles */
.cart-backhground {
    background-image: url("./ioann-mark-kuznietsov-eHlVZcSrjfg-unsplash.jpg");
    width: 80%;
    height: 620px;
    margin: 0px 170px 0px;
}

.cart-info {
    background-color: rgb(58, 57, 57);
    color: #272727;
    text-align: center;
    margin: -100px 600px 100px;
    padding: 50px;
    border-radius: 20px;
}

.cart-title {
    color: #d3cdcd;
    font-family: Lato;
    font-size: 20px;
    font-weight: 800;
}

.cart-description {
    color: rgba(175, 171, 171, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
.cart-button{
    border-color: #FFFFFF;
    border-radius: 15px;
    color: white;
    background-color: #111010;
    padding: 22px;
    margin-top: 25px;
}